$orange3:       #db6c04;
$gray:          #545456;
$white:         #ffffff;
$black:         #000000;
$light-gray:    #a0a0a5;
$light-gray2:   #e2e2e2;
$dark-blue:     #212a35;
$orange-hover:  #ff7a00;
$test:          #303030;